$ancho :100%;
$borde: 5px solid black;
$bg-color-green:green;
$total-columnas : 10;
$tamaño-fuente: 12px;
$fuentes_negrita: bold;
$borde-principal: 1px solid black;
$flex : flex;
$center:center;
$row: row;
$space-around :space-around;
$space-between:space-between;
$column:column;
$space-evenly:space-evenly;
$primary-color: pink;
$text-align: center;

/*mapas*/
$map-fixed:(
    fixed: fixed,
    row: row,
    column: column,
    space-around: space-around,
    space-between: space-between,
    space-evenly: space-evenly,
    center: center,
);